<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<%= @user_location_latitude %>
<%= @user_location_longitude %>


<% @recipes.each do |recipe| %>
  <%= recipe.title %> <br>
  <%= recipe.recipe %><br>
  <%= link_to recipe do %>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{recipe.latitude},#{recipe.longitude}&zoom=16&size=400x350&markers=color:blue%7Clabel:EatPoint%7C#{recipe.latitude}%2C#{recipe.longitude}&key=AIzaSyA6nZL7hRFHgoBpO0rayEWSsSNeU2l8-QY" %>
  <% end %> <br>
  <%= link_to 'Edit', edit_recipe_path(recipe) %> 
  <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
  <br>
<% end %>
