<%= form_with(model: eatcoin, local: true) do |form| %>
  <% if eatcoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eatcoin.errors.count, "error") %> prohibited this eatcoin from being saved:</h2>

      <ul>
      <% eatcoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :eatcoin_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
