<p id="notice"><%= notice %></p>

<h1>Eatcoins</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eatcoins.each do |eatcoin| %>
      <tr>
        <td><%= eatcoin.amount %></td>
        <td><%= link_to 'Show', eatcoin %></td>
        <td><%= link_to 'Edit', edit_eatcoin_path(eatcoin) %></td>
        <td><%= link_to 'Destroy', eatcoin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buy Eatcoins', new_eatcoin_path %>
