<!DOCTYPE html>
<html>
  <head>
    <title>EatyvRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %>
    <br>
    <br>
    <br>
    <center>
      <% if flash[:alert] %>
        <br>
        <p><%= flash[:alert] %></p>
        <br>
      <% end %>
      
      <%= yield %>
    </center>
  </body>
</html>
